/*********************REGISTERATION SECTION START**********************************/

.checklist {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 38px;
}

.check {
  display: flex;
  align-items: center;
  margin-block: 2px;
  gap: 8px;
}

.check p {
  margin: 0;
}

.registeration-title {
  text-align: center;
  color: #43994a;
}

.sub-registeration-title {
  font-size: 50px;
}

.registeration-container {
  margin-top: -32px;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 120px;
}

/************SIGN-UP SECTION START*********************/
#sign-up-form {
  padding: 0 60px;
}

.sign-in-link {
  color: #246a2a;
}

#sign-up-form-wrap {
  background-color: #fff;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  /* width: 100%; */
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"] {
  border-color: #43994a;
}

input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid,
input[type="password"]:focus:invalid {
  color: #cc1e2b;
  border-color: #cc1e2b;
}

input[type="text"]:valid ~ .validation,
input[type="email"]:valid ~ .validation,
input[type="password"]:valid ~ .validation {
  display: block;
  border-color: #0c0;
}

input[type="text"]:valid ~ .validation span,
input[type="email"]:valid ~ .validation span,
input[type="password"]:valid ~ .validation span {
  background: #0c0;
  position: absolute;
  border-radius: 6px;
}

input[type="text"]:valid ~ .validation span:first-child,
input[type="email"]:valid ~ .validation span:first-child,
input[type="password"]:valid ~ .validation span:first-child {
  top: 30px;
  left: 14px;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="text"]:valid ~ .validation span:last-child,
input[type="email"]:valid ~ .validation span:last-child,
input[type="password"]:valid ~ .validation span:last-child {
  top: 35px;
  left: 8px;
  width: 11px;
  height: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.validation {
  display: none;
  position: absolute;
  content: " ";
  height: 60px;
  width: 30px;
  right: 15px;
  top: 0px;
}

input[type="bmi-submit"] {
  border: none;
  display: block;
  background-color: #43994a;
  color: #fff;
  font-weight: bold;

  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

input[type="bmi-submit"]:hover {
  background-color: #43994a;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#create-account-wrap {
  background-color: #eeedf1;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal h2 {
  margin-top: 0;
}

/* Overlay styles */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

@media (max-width: 768px) {
  .modal {
    width: 90%; /* Adjust the width as needed */
    max-width: none; /* Override max-width for smaller screens */
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
  }
}
/************SIGN-UP SECTION END*********************/
/*********************REGISTERATION SECTION END**********************************/

@media screen and (max-width: 1240px) {
  .registeration -img {
    display: none;
  }

  .registeration -container {
    justify-content: center;
    margin: 80px 0px 50px 0px;
  }
}

@media screen and (max-width: 550px) {
  .registeration -card-container2 {
    margin-top: 10px;
  }
}
